#include "../../../Configurations/CommonBase.xcconfig"

ALWAYS_SEARCH_USER_PATHS = NO;
CLANG_ENABLE_MODULES = YES;
CLANG_ENABLE_OBJC_ARC = YES;
CLANG_WARN_BOOL_CONVERSION = YES;
CLANG_WARN_COMMA = YES;
CLANG_WARN_CONSTANT_CONVERSION = YES;
CLANG_WARN_EMPTY_BODY = YES;
CLANG_WARN_ENUM_CONVERSION = YES;
CLANG_WARN_INFINITE_RECURSION = YES;
CLANG_WARN_INT_CONVERSION = YES;
CLANG_WARN_OBJC_LITERAL_CONVERSION = YES;
CLANG_WARN_STRICT_PROTOTYPES = YES;
CLANG_WARN_UNREACHABLE_CODE = YES;
CODE_SIGN_IDENTITY = -;
ENABLE_DEBUG_DYLIB_OVERRIDE = YES;
FRAMEWORK_SEARCH_PATHS = $(inherited) $(WK_QUOTED_OVERRIDE_FRAMEWORKS_DIR);
GCC_C_LANGUAGE_STANDARD = gnu17;
GCC_TREAT_WARNINGS_AS_ERRORS = YES;
OTHER_LDFLAGS = $(inherited) -framework Cocoa -framework WebKit;
SDKROOT = macosx.internal;
SUPPORTED_PLATFORMS = macosx;
WK_FIXME_WARNING_CFLAGS = -Wno-unused-parameter;
WARNING_CFLAGS = $(inherited) $(WK_FIXME_WARNING_CFLAGS);
